body {
  background: $bg-primary;
  color: $text-primary;
}

@include respond-at-and-above(0vw) {
  body.main {
    margin: 80px 10vw 0;
    width: 80vw;
    height: auto;
    display: grid;
    grid-template-columns: 57% auto;

    grid-column-gap: 6vw;

    header {
      margin-bottom: 200px;
    }

    section {
      margin-bottom: 160px;
    }

    .primary-container {
      section {
        max-width: 580px;
      }
    }

    .supplementary-container {
      padding: 20px;
      .profile {
        padding: 20px;
        height: auto;
        width: calc(100% - 64px);
        position: sticky;
        top: 60px;
        border: 12px solid $accent-two;
        border-radius: 48px;
      }
    }

    .contact,
    .section-projects {
      grid-column-start: 1;
      grid-column-end: 3;
      .projects-intro {
        width: calc(60% - 2vw);
      }
    }
  }

  .section-projects {
    .card-container {
      padding-top: 80px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 8vw;
      width: 80vw;
      position: relative;
      z-index: 1;
      .card {
        text-decoration: none;
        img {
          transition: all 0.1s ease-in-out;
          width: calc(100% - 4vw);
          border: 12px solid $accent-three-light;
          border-radius: 48px;
        }
        .card-text {
          padding: 20px 20px 40px;
          h3 {
            text-decoration: underline;
            font-size: $fs-xl;
            margin-block-start: 0;
            padding-top: 1em;
          }
        }
        &:hover {
          h3 {
            text-decoration: none;
          }
          img {
            border: 12px solid $accent-three;
            border-radius: 60px;
          }
        }
      }
    }
  }
}

@include respond-at-and-below($break-medium) {
  body.main {
    .supplementary-container {
      .profile {
        padding: 4px;
        border-radius: 24px;
        width: calc(100% - 8px);
      }
    }
    .section-projects {
      .card-container {
        padding-top: 40px;
        grid-template-columns: 1fr;
        row-gap: 80px;
        .card-text {
          padding: 12px 8px 0;
        }
      }
      .projects-intro {
        width: calc(100%);
      }
    }
  }
}
@include respond-at-and-below($break-small) {
  body.main {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    .supplementary-container {
      display: none;
    }
  }
}
@media only screen and (min-resolution: 193dpi) {
  html,
  body {
    font-size: 20px;
  }
}

hr {
  border: none;
  height: 40px;
  width: 100%;
  transform: scale(0.4);
  background-repeat: no-repeat;
  background-position: center;
  margin: 40px 0;
}
hr.hr-one {
  background-image: url(../assets/images/hr-1.svg);
}
hr.hr-two {
  background-image: url(../assets/images/hr-2.svg);
}
hr.hr-three {
  background-image: url(../assets/images/hr-3.svg);
}

.blob-one-accent-one,
.blob-two-accent-one,
.blob-three-accent-one,
.blob-one-accent-two,
.blob-two-accent-two,
.blob-three-accent-two,
.blob-one-accent-three,
.blob-two-accent-three,
.blob-three-accent-three {
  &:before {
    content: "";
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: -200px;
    z-index: -1;
    animation: rotate 8s ease-in-out alternate infinite;
  }
  @keyframes rotate {
    from {
      transform: scale(1.4) rotate(0deg);
    }
    to {
      transform: scale(1) rotate(-45deg);
    }
  }
}

// accent 1
.blob-one-accent-one {
  &:before {
    background: url("../assets/images/blob-1-accent-1.svg") no-repeat;
  }
}
.blob-two-accent-one {
  &:before {
    background: url("../assets/images/blob-2-accent-1.svg") no-repeat;
  }
}
.blob-three-accent-one {
  &:before {
    background: url("../assets/images/blob-3-accent-1.svg") no-repeat;
  }
}
// accent 2
.blob-one-accent-two {
  &:before {
    background: url("../assets/images/blob-1-accent-2.svg") no-repeat;
  }
}
.blob-two-accent-two {
  &:before {
    background: url("../assets/images/blob-2-accent-2.svg") no-repeat;
  }
}
.blob-three-accent-two {
  &:before {
    background: url("../assets/images/blob-3-accent-2.svg") no-repeat;
  }
}
// accent 3
.blob-one-accent-three {
  &:before {
    background: url("../assets/images/blob-1-accent-3.svg") no-repeat;
  }
}
.blob-two-accent-three {
  &:before {
    background: url("../assets/images/blob-2-accent-3.svg") no-repeat;
  }
}
.blob-three-accent-three {
  &:before {
    background: url("../assets/images/blob-3-accent-3.svg") no-repeat;
  }
}

.blob-left-one {
  &:before {
    top: 120px;
    left: -6vw;
  }
}
.blob-left-two {
  &:before {
    top: 200px;
    left: -12vw;
  }
}
.blob-right-one {
  &:before {
    top: 200px;
    right: -25vw;
  }
}
.blob-right-two {
  &:before {
    top: 100px;
    right: -34vw;
  }
}

.text-shape {
  position: relative;
  display: inline-block;
}
.text-shape::before {
  position: absolute;
  content: "";
  border-radius: 2px;
  z-index: -1;
}

.shape-one::before {
  width: 90%;
  height: 14px;
  background-color: $accent-one;
  transform: rotate(1deg);
  top: 22px;
  left: 4px;
}

.shape-two::before {
  width: 110%;
  height: 12px;
  background-color: $accent-two;
  transform: rotate(-2deg);
  top: 24px;
  left: -8px;
}

.shape-three::before {
  width: 100%;
  height: 11px;
  background-color: $accent-three;
  transform: rotate(1deg);
  top: 25px;
  left: 4px;
}
